.bd-placeholder-img  {
    border: medium none;
    border-radius: 3px;
    transition: 0.3s;
}
.bd-placeholder-img:hover{
    box-shadow: 0 0 40px 0;
    transform:scale(1.2);
  
}

/* collection */
.gift{
    margin: 16px 0px;

}

/* background color  */
.rrr{                      

background-color: rgb(255, 250, 245);
}